body {
    font-family: Arial, sans-serif;
}

a {
    background-color: grey;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: grey;
}

h1 {
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

h2 {
    background-color: orange;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    width: 500px;
}

p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

ul {
    font-size: 16px;
    font-weight: normal;
}

ol {
    font-size: 16px;
    font-weight: normal;
}

li {
    margin-bottom: 10px;
}