body {
    font-family: Arial, sans-serif;
}

h1 {
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    padding: 10px;
    color: red;
}

a:hover{
    background-color: red;
    color: white;
}